body {
    background-image: url(./хиликс.png);
    background-size: cover;
}

div {
    background-color: rgba(162, 198, 233, 0.8);
    width: 900px;
    font-family: sans-serif;
    padding: 10px 15px;
     margin: auto;
     
}
h1
 {
     color: rgb(50, 57, 70);
     text-align: center;
     margin-bottom: 25px;
 }
 .popularity{
    background-color: rgba(255, 255, 255, 0.8)
 }
 .reasons{
background-color: rgba(0, 0, 0, 0.8);
 }